/.vscode
/conceitosEixo2d1Pres.txt
/conceitosEixo2d3Pres.txt
/conceitosEixo4d10Pres.txt
/conceitosEixo4d5Pres.txt
/conceitosEixo4d6Pres.txt
*.txt
/__pycache__
*.pyc
*.pdf
cpa/coleta-2021/graficos/2)_EAD.png
cpa/coleta-2021/graficos/2)_Presencial.png
cpa/coleta-2021/graficos/3)_EAD.png
cpa/coleta-2021/graficos/3)_Presencial.png
cpa/coleta-2021/graficos/4)_EAD.png
cpa/coleta-2021/graficos/4)_Presencial.png
cpa/coleta-2021/graficos/5)_EAD.png
cpa/coleta-2021/graficos/5)_Presencial.png
cpa/coleta-2021/graficos/6)_EAD.png
cpa/coleta-2021/graficos/6)_Presencial.png
cpa/coleta-2021/graficos/7)_EAD.png
cpa/coleta-2021/graficos/7)_Presencial.png
cpa/coleta-2021/graficos/8)_EAD.png
cpa/coleta-2021/graficos/8)_Presencial.png
cpa/coleta-2021/graficos/9)_EAD.png
cpa/coleta-2021/graficos/9)_Presencial.png
cpa/coleta-2021/graficos/10_EAD.png
cpa/coleta-2021/graficos/10_Presencial.png
cpa/coleta-2021/graficos/11_EAD.png
cpa/coleta-2021/graficos/11_Presencial.png
cpa/coleta-2021/graficos/12_EAD.png
cpa/coleta-2021/graficos/12_Presencial.png
cpa/coleta-2021/graficos/13_EAD.png
cpa/coleta-2021/graficos/13_Presencial.png
cpa/coleta-2021/graficos/15_EAD.png
cpa/coleta-2021/graficos/15_Presencial.png
cpa/coleta-2021/graficos/18_EAD.png
cpa/coleta-2021/graficos/18_Presencial.png
cpa/coleta-2021/graficos/19_EAD.png
cpa/coleta-2021/graficos/19_Presencial.png
cpa/coleta-2021/graficos/20_EAD.png
cpa/coleta-2021/graficos/20_Presencial.png
cpa/coleta-2021/graficos/22_EAD.png
cpa/coleta-2021/graficos/22_Presencial.png
cpa/coleta-2021/graficos/24_EAD.png
cpa/coleta-2021/graficos/24_Presencial.png
cpa/coleta-2021/graficos/26_Presencial.png
cpa/coleta-2021/graficos/27_EAD.png
cpa/coleta-2021/graficos/27_Presencial.png
cpa/coleta-2021/graficos/28_EAD.png
cpa/coleta-2021/graficos/28_Presencial.png
cpa/coleta-2021/graficos/29_EAD.png
cpa/coleta-2021/graficos/29_Presencial.png
cpa/coleta-2021/graficos/31_EAD.png
cpa/coleta-2021/graficos/31_Presencial.png
cpa/coleta-2021/graficos/32_EAD.png
cpa/coleta-2021/graficos/32_Presencial.png
cpa/coleta-2021/graficos/34_EAD.png
cpa/coleta-2021/graficos/34_Presencial.png
cpa/coleta-2021/graficos/35_EAD.png
cpa/coleta-2021/graficos/35_Presencial.png
cpa/coleta-2021/graficos/36_EAD.png
cpa/coleta-2021/graficos/36_Presencial.png
cpa/coleta-2021/graficos/37_EAD.png
cpa/coleta-2021/graficos/37_Presencial.png
cpa/coleta-2021/graficos/39_EAD.png
cpa/coleta-2021/graficos/39_Presencial.png
cpa/coleta-2021/graficos/41_Presencial.png
